*{margin: 0; padding: 0; font-family: sans-serif;}
footer, main, section, nav {
	display: block;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}

.clear {
    clear: both;
}

#logo{
    width:68px;
    height:68px;
    background-image: url(../images/ex3Logo.png);
    background-repeat: no-repeat;
}

#wrapper_layout1, #wrapper_layout2, #wrapper_layout3 {
    width: 1000px;
    position: relative;
    margin: 0px, auto;
    background-color: #ffffff;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

#wrapper_layout1 header {
    height: 183px;
    position: relative;
}
#wrapper_layout1 header #logo {
    float: left;
    margin-top: 11px; 
    margin-left: 104px;
}

#wrapper_layout1 header #topNav{   
    height: 57px; 
    width: 727px; 
    float: right; 
    vertical-align: bottom;   
    margin-top: 48px;
    line-height: 57px;
}
#wrapper_layout1 header #topNav li{
    width: 242px;
    height: 57px;
    background-color: #b94a48;
    color: #ffffff;
    size: 20px;
    text-align: center;
    float: left;
    vertical-align: middle;
}
#wrapper_layout1 header #topNav .checked{
    background-color: #333333;
}

#wrapper_layout1 main{
    width: 850px;
    height: 695px;
    position: relative;
    float: right;
    background-color: #ffffff;
}
#wrapper_layout1 main section {
    width: 849px;
    height: 268px;
    background-color: #ee5f5b;
    position: absolute;
    float: right;
}
#wrapper_layout1 main section article {
    width: 126px;
    height: 94px;
    background-color: #5f2624;
    vertical-align: top;
    top: 89px;
    bottom: 85px;
    left: 342px;
    position: absolute;
}
#wrapper_layout1 main p{
    width: 692px;
    height: 175px;
    background-color: #666666;
    vertical-align: bottom;
    position: absolute;
    top: 492px;
    left: 67px;
}

#wrapper_layout1 aside {
    width: 121px;
    height: 696px;
    background-color: #f2dede;
    float: left;
    position: absolute;
}

#wrapper_layout1 footer {
    position: relative;
    height: 121px;
    background-color: #d6d6d6;
}



#wrapper_layout2 header {
    height: 194px;
    position: relative;
}
#wrapper_layout2 header #logo {
    position: absolute;
    top: 68px;
    left: 464px;
}

#wrapper_layout2 nav {
    width: 243px;
    height: 1000px;
    background-color: #333333;
    position: absolute;
    float: left;
    line-height: 58px;
}
#wrapper_layout2 nav li{
    height: 58px;
    color: #ffffff;
    vertical-align: middle;
    size: 20px;
    padding-left: 6px;
}
#wrapper_layout2 nav .checked{
    background-color: #b94a48;
}

#wrapper_layout2 main{
    width: 757px;
    height: 1000px;
    background-color: #ee5f5b;
    float: right;
    position: relative;
    top: 1px;
}
#wrapper_layout2 main section {
    position: relative;
    width: 212px;
    height: 807px;
    float: left;
    margin-left: 30px;
}
#wrapper_layout2 main section article{
    background-color: #000000;
    opacity: 0.6;
    margin-bottom: 19px;
}

#wrapper_layout2 main section .box1{
    height: 366px;
}
#wrapper_layout2 main section .box2{
    height: 500px;
}

#wrapper_layout2 main section .box3{
    height: 560px;
}
#wrapper_layout2 main section .box4{
    height: 306px;
}

#wrapper_layout2 main section .box5{
    height: 323px;
}

#wrapper_layout2 footer{
    height: 50px;
    width: 1000px;
    background-color: #d6d6d6;
    position: fixed;
    bottom: 0px;
}



#wrapper_layout3{
    width: auto;
    max-width: 1000px;
    min-width: 500px;
}

#wrapper_layout3 header{
    width: 500px;
    height: 500px;
    float: left;
    background-color: #ffffff;
}
#wrapper_layout3 header #logo{
    left: 20px;
    top: 22px;
    position: absolute;
}
#wrapper_layout3 header article{
    height: 86px;
    width: 86px;
    position: absolute;
    top: 207px;
    left: 208px;
    font-size: 165px;
    color: #000000;
}

#wrapper_layout3 header nav{
    height: 62px;
    line-height: 62px;
    position: absolute;
    top: 438px;
}
#wrapper_layout3 header nav li{
    width: 166.5px;
    vertical-align: middle;
    float: left;
    color: #ffffff;
    size: 20px;
    text-align: center;
    background-color: #b94a48;
}
#wrapper_layout3 header nav .checked{
    width: 167px;
    background-color: #333333;
}

#wrapper_layout3 #plus {
    background-image: url(../images/plus.png);
    height: 88px;
    width: 88px;
    left: 207px;
    top: 209px;
    
    background-repeat: no-repeat;
}

#wrapper_layout3 main {
    height: auto;
    min-height:1000px;
    max-width: 1000px;
    background-color: #9d261d;
}

.box {
    display: block;
    float: left;
    height: 250px;
    width: 250px;
    background-color: #000000;
}
.box:hover{
    background-color: #ffffff;
    opacity: 1.0 ! important;
}